<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBServer" connectionString="Data Source = 10.0.6.147; Initial Catalog = Operations; Integrated Security=SSPI;Connection Timeout=30000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>